<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CameraListenerService.Configs" type="CameraListenerService.Configuration.ServiceConfigurationSection, CameraListenerService" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="PortNumber_Data" value="55555" />
    <add key="PortNumber_Video" value="66666" />
    <add key="PendingConnectionQueueSize" value="128" />
    <add key="TCPBufferSize" value="1500"/>
    <add key="ParseTimerIntervalMilliseconds" value="1000" />
    <add key="CleanupTimerIntervalMilliseconds" value="60000"/>
    <add key="SocketInactivityTimeoutSeconds" value="180"/>
  </appSettings>
  <connectionStrings>
    <add name="DataConnectionString"
         connectionString="Data Source=192.168.53.22;Initial Catalog=NG_Fleetwise;Persist Security Info=True;User ID=sa;Password=h@nds0FF"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <CameraListenerService.Configs>
    <EmailSenders>
      <add name="RTL Alerts" 
           enabled="true" 
           value="SMTP" 
           Address="smtp.office365.com" 
           Port="587" 
           Account="m2m@rtlsystems.co.uk" 
           Password="QG6qwF::" 
           Sender="alerts@rtlsystems.co.uk" />
    </EmailSenders>
    <SmsSenders>
      <add name="ClickatellSmsSender" 
           value="API" 
           enabled="true" 
           url="https://api.clickatell.com/rest/" 
           APIId="3644513"  
           SenderId=""  
           AuthToken="Y9EMPgsDdff0RFL8bDUMD7EVRXkPvNAtVOnzZDRMbNbEg3EzoqW5Is0Ygpkf_pQ53.nT7"/>
    </SmsSenders>
    <Recipients>
      <add name="RTLNKVD" enabled="true" value="" telegramChatId="-1001494789441" telegramBotId="563105446:AAFz7NzYWMthjeyCn0UZhtHRTlqGVm7Wa-M"/>

      <add name="ArtemEmail" enabled="false" value="artem.bessonov@rtlsystems.co.uk"/>

      <add name="DimaEmail" enabled="true" value="dmitrijs@rtlsystems.co.uk"/>
      <add name="DimaSMS" enabled="true" value="+447824447565"/>
    </Recipients>
  </CameraListenerService.Configs>



  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>